@charset "UTF-8";

.casual-panel {
    display: none;
    border-radius: 4px;
    font-size: 14px; /*options*/
    color: #606266; /*options*/
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);
    width: auto;
    position: absolute;
    z-index: 9999999999;
}

.casual-menu {
    background-color: white; /*options*/
    min-width: 180px; /*options*/
    box-sizing: border-box;;
    border-right: 1px solid #e4e7ed; /*options*/
}

.casual-menu:last-child {
    border: 0px;
}

.casual-menu-list {
    max-height: 190px; /*options*/
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.casual-menu-list:hover{
    overflow-y: scroll;
}

.casual-menu-list-item {
    margin: 0px;
    display: flex;
    padding: 5px 0px 5px 0px;
    cursor: default;
}

.casual-menu-list-item:hover{
    background-color: #F5F7FA;
}

.casual-menu-list-item_active {
    color: #409eff;/*options*/
    font-weight: 700;
}

.casual-menu-list-item-text {
    flex: 4.5;
    padding-left: 20px;
}

.casual-menu-list-item-icon {
    flex: 1;
    position: relative;
    bottom: 2px;
}

.casual-icon-right:before{
    content: "\25BA";
}

.casual-icon-down:before{
    content: "\25BC";
}

.casual-icon-up:before{
    content: "\25B2";
}

/*整体部分*/
.casual-menu-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*滑动轨道*/
.casual-menu-list::-webkit-scrollbar-track {
    border-radius: 0px;
    background: none;
}

/*滑块*/
.casual-menu-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #F2F2F2
}

/*滑块效果*/
.casual-menu-list::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: rgba(85, 85, 85, 0.4);
}